# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.db
*.pdb
*.tlog
*.user
VkComputeSample/x64/Debug/vc140.idb
*.log
x64/Debug/VkComputeSample.ilk
*.idb
*.opendb
*.tmp
*.ilk
*.ipch
*.db-shm
*.db-wal
*.opendb
